@import url('https://fonts.googleapis.com/css?family=Varela+Round&subset=hebrew');
* {
    font-family: 'Varela Round', sans-serif;
 }
body {
    background-image: url("http://localhost:9090/staticimage/background.png");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.navbar{
    background-image: url("http://localhost:9090/staticimage/navbar.jpg");
}

.navbar-default .navbar-nav>li>a{
    /* font-family: Assistant; */
    font-family: 'Varela Round', sans-serif;
    font-size: 29.3px;
    color: white;
    padding-right: 35px;
}

.navbar-default .navbar-nav>li>a:hover{
    font-weight: 600;
    color: white;
}
.navbar-default .navbar-nav>li>a:focus{
    font-weight: 600;
    color: white;
}

/* 
.private_area{
    display: flex;
} */

.private_area_text{
    color: #784b2b;
    /* font-family: Assistant; */
    /* font-family: 'Varela Round', sans-serif; */
    font-size: 29.3px;
    font-weight: 600;
    /* padding-left: 20px; */
    text-align: right;
    /* background-color: pink; */
}

.header{
    margin-bottom: 20px;
    margin-top: 80px;
}

.logo a{
    text-decoration: none;
    color: #784b2b;
    /* font-family: Assistant; */
}
.logo h1{
    direction: rtl;
}

.image-gallery-slide{
    width: 100px;
    height: 370px;
    background: #303a20 !important;
    color: white;
}

.main_description{
    height: 100%;
    background-color: #303a20;
}

.footer{
    height: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1e3f15;
    color: white;
    direction: rtl;
}

.footer_header_description{
    font-size: 39.58px;
    font-family: Assistant;
    font-weight: 600;
    padding-right: 50px;
}
.footer_description{
    padding-top: 30px;
    font-size: 16px;
    font-family: Assistant;
}

.request_feedback{
    background-color: #d9e0d7;
    margin-right: 50px;
}

.btn{
    background-color: #e05a00;
    color: white;
    background-image: none;
    margin-right: 40px;
}
.form_button:hover{
    color: white;
}
.heb-grid{
    text-align: center;
    margin: 1ch;
}
.private_area{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 2ch;
    background-color: rgb(238, 180, 71);
    background-image: linear-gradient(rgb(238, 180, 71), rgb(172, 128, 48));
    border-style: solid;
    border-top-color: rgb(250, 235, 208);
    border-left-color: rgb(250, 235, 208);
    border-bottom-color: rgb(107, 71, 4);
    border-right-color: rgb(107, 71, 4);
}
.private_area_loggedin{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 2ch;
    background-color: rgb(238, 180, 71);
    background-image: linear-gradient(rgb(238, 180, 71), rgb(172, 128, 48));
    border-style: solid;
    border-top-color: rgb(250, 235, 208);
    border-left-color: rgb(250, 235, 208);
    border-bottom-color: rgb(107, 71, 4);
    border-right-color: rgb(107, 71, 4);
}
.private_area:hover{
    border-radius: 2ch;
    cursor:pointer;
    /* background-color: rgb(238, 180, 71); */
    border-style: solid;
    border-top-color: rgb(250, 235, 208);
    border-left-color: rgb(250, 235, 208);
    border-bottom-color: rgb(107, 71, 4);
    border-right-color: rgb(107, 71, 4);
}
.private_area:active{
    cursor:pointer;
    /* background-color: rgb(206, 149, 43); */
    border-bottom-color: rgb(250, 235, 208);
    border-right-color: rgb(250, 235, 208);
    border-top-color: rgb(107, 71, 4);
    border-left-color: rgb(107, 71, 4);
            }
.image-gallery-thumbnails-container{
    display: flex;
    justify-content:space-around;
}
.image-gallery-thumbnail img {
    width: 90%!important;
    height: 90% !important;
}
.image-gallery-thumbnail  {
    width: 100%!important;
    height: 100% !important;
}
